# =========================
# Kompilierte Klassen
# =========================
*.class

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# Build-Ausgabe
# =========================
/out/

# =========================
# Betriebssystem
# =========================
.DS_Store
Thumbs.db
